@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" align="center">
    <h1>.NET 💜 Azure</h1>
    <h1>Ramakrishnavadde-500237796</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
